version: '3'

services:
  mysql:
    image: mysql:8
    container_name: mysql-container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: twotier
    ports:
      - "3306:3306"

  app:
    image: gonu07/two-tier-flask-mysql-app:latest
    container_name: two-tier-app
    restart: always
    ports:
      - "5000:5000"
    depends_on:
      - mysql
